.chatbot-container{
    position:fixed;
    bottom:0;
    left:0;
    width: 300px;
    height: 400px;
    background-color: #2c3e50;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 4px 10px rgba(0,0,0,0,3);
    color:white;
    z-index: 1001;
    transform: translateX(-100%);
    animation: slideIn 0.3 forwards;
    display: flex;
    flex-direction: column;
}

@keyframes slideIn{
    0%{
        transform: translateX(70%) translateY(-70%);
        
    }
    100%{
        transform:translateX(0)
    }
}

.chatbot-header{
    background-color: #34495e;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    position: relative;
}

.close-btn{
    position: absolute;
    top:10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.chatbot-body{
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatbot-body p{
    margin-bottom: 10px;
}

.chatbot-body input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border:none;
}

.next-btn{
    padding: 10px 20px;
    background-color: #f1c40f;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    color: black;
}

.next-btn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}